name: Auto Scrap

on:
  schedule:
  - cron: '*/60 * * * *'
  
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v2.4.2
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.10.1
    - name: Install Python dependencies
      uses: py-actions/py-dependency-install@v3.0.0
    - name: Run the scrapper
      run: python scrapper.py
    - name: Commit
      uses: EndBug/add-and-commit@v9.1.0
      with:
        message: Auto Scrap [BOT]
      
      
