name: Manual Scrap

on:
  workflow_dispatch:
  
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v2.4.2
    - name: Setup Python
      uses: actions/setup-python@v4.2.0
      with:
        python-version: "3.10"
        architecture: "x64"
        cache: 'pip'
    - name: Install Python dependencies
      run: pip install -r requirements.txt
    - name: Run the scrapper
      run: python scrapper.py 
    - name: Run the http checker
      run: python checker.py
    - name: Commit
      uses: EndBug/add-and-commit@v9.1.0
      with:
        message: Auto Scrap [BOT]
